/* --- Collections --- */
.collections {
	position: relative;
	width: 230px;
	height:340px;
    	display: inline-block;
    	margin: 10px;
    	padding: 0px;
    	overflow: hidden;
	background:#FFF;
}
.collections.t2 {
	height:125px;
}
.collections img {
	width:100%;
}

.collections .header {
	position: absolute;
    	background: #fffffffa;
    	width: 100%;
   	padding: 2px 6px;
    	border-bottom: 1px solid #dcdcdc;
}

.collections .post-info { 
	display:none; 
}

.collections .title {
	margin-bottom: .5em;
    	font-size: 17px;
    	line-height: 17px;
	white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	vertical-align: middle;
}

.collections:hover .post-info { 
	display:block; 
}

.collections:hover .title { 
	white-space: normal; 
}

.collections_fav {
	position: absolute;
    	top: 0;
	left:0;
}

.collections__title {
	position: absolute;
    	bottom: 0;
    	width: 100%;
    	background: #000000b8;
    	font-size: 18px;
    	margin: 0;
    	padding: 0 6px;
    	color: #FFF;
    	font-weight: 100;	
}

.collections__count {
   	background: #000000b8;
    	padding: 2px 6px;
    	position: absolute;
    	top: 0;
    	right: 0;
    	color: #FFF;
    	font-weight: 500;	
}

.collections-block { 
	padding: 14px;
	display: block;
	color: rgb(56, 56, 56);
}

.collections-block:hover { 
	cursor:pointer;
}

.collections-block .image {
	background-repeat: no-repeat; 
	background-position: 50% 50%;
	background-size: cover;
	border: 1px solid #483A30;
	border-radius: 3px;
	float: left;
	height: 52px;
	width: 82px;	
	margin: 0px 12px 0px 0px;
}
.collections-block .title { 
	display: block;
	line-height: 17px;
	margin-bottom: 3px;
	max-height: 36px;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
}

.cblock section {
    	display:none;
    	border: 1px solid #ededed;
    	border-width: 0px 1px 1px 1px;
    	padding: 10px;	
}

.cblock section ul li {
	border-bottom:1px solid #ededed;
	padding:5px 0;
}

.cblock section ul li:last-child {
	border-bottom:none;
}

.cblock .active {
	background: #2e8b5747;
}

#collections-menu {
	position: relative;
	width: 350px;
	min-height:100px;
    	margin: 0 auto;
    	padding: 25px;
	background:#FFF;
}

.collections-often {
	text-align: center;
	padding: 10px 20px 0px 20px;
}

.collections-often ul {
	display:inline-block;
}

.collections-often li {
	min-width: 260px;
	max-width: 280px;
	float:left;
	display: inline-block;
	border-radius: 5px;
}

.collections-often li:hover {
	background: #2e8b5726;
}

.collections-often-block { 
	padding: 14px;
	display: block;
	color: rgb(56, 56, 56);
}

.collections-often-block:hover { 
	cursor:pointer;
}

.collections-often-block .image {
	background-repeat: no-repeat; 
	background-position: 50% 50%;
	background-size: cover;
	border: 1px solid #483A30;
	border-radius: 3px;
	float: left;
	height: 52px;
	width: 82px;
}
.collections-often-block .title, .collections-often-block .descr { 
	display: block;
}
/* --- Collections end --- */
